body{ 
  font-family: arial;
  background-color: #D7DBDD;
}

h1{
  font-size: 50px;
  font-family: serif;
  text-align: center;
  text-shadow: 2px 2px gray;
}

h2{
  font-size: 35px;
  text-align: center;
  text-shadow: 3px 3px gray;
}

p{
  font-size: 20px;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}